/* ** commons ** */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 0 80px;
	margin: 20px;
	font-family: "Montserrat", sans-serif;
}

/* ** header ** */
/* .header-top {
	margin-bottom: 20px;
} */

#logo {
	height: 60px;
	border-right: 1px solid lightgrey;
	padding-right: 10px;
	margin-bottom: 30px;
}

nav li {
	list-style: none;
	display: inline-block;
}

li {
	text-transform: uppercase;
	margin-right: 10px;
}

a {
	text-decoration: none;
	color: grey;
}

.header-bottom {
	margin-top: 30px;
	margin-bottom: 20px;
	background-image: url("../img/banner.jpg");
	background-position: center;
	height: 430px;
	border-radius: 10px;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.2);
	height: 100%;
	border-radius: 10px;
}

h2 {
	font-size: 30px;
	color: white;
	padding-top: 280px;
	padding-left: 50px;
	width: 55%;
}

#caption {
	color: white;
	padding-left: 50px;
	width: 50%;
}

/* ** main ** */

/* main {
	padding-bottom: 20px;
	background-color: yellow;
} */

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.title-top {
	margin-bottom: 20px;
	padding: 20px 0;
}

h1 {
	font-size: 40px;
}

h5 {
	color: rgb(155, 155, 155);
}

.left {
	float: left;
}

.links {
	height: 500px;
	width: 20%;
}

.image {
	background-image: url("../img/img-1.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
}

.main-content {
	margin: 0 1%;
	width: 58%;
}

.image-banner {
	background-image: url("../img/banner-2.jpg");
	background-size: cover;
	height: 250px;
	width: 100%;
	background-position-y: -110px;
	background-size: cover;
}

.image-right {
	background-image: url("../img/img-3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
}

h3 {
	margin-top: 20px;
}

p {
	margin-top: 10px;
	color: rgb(155, 155, 155);
}

.widget {
	width: 20%;
}

/* ** footer ** */
footer {
	height: 60px;
}

.contatti {
	margin-top: 50px;
	text-align: center;
}

#cuore {
	color: red;
	font-weight: bold;
}

/* ****** debug ******  */

/* .debug .header-top {
	height: 90px;
	background-color: rgb(229, 121, 230);
} */

/* .debug nav {
	height: 40px;
	width: 100%;
	background-color: red;
	line-height: 40px;
} */

/* .debug .header-bottom {
	height: 500px;
	background-color: rgb(225, 214, 122);
} */

/* .debug-main .title-top {
	width: 100%;
	height: 50px;
	background-color: blue;
} */

/* .debug-main .links,
.debug-main .widget {
	width: 20%;
	height: 500px;
	background-color: royalblue;
} */

/* .debug-main .main-content {
	height: 500px;
	background-color: red;
	width: 58%;
} */

/* .debug .contatti {
	height: 60px;
	background-color: rgb(229, 121, 230);
} */
